{% extends "base.html" %}

{% block body %}



<div class="container-fluid">


    <div class="row" style="margin: 20px 0 50px 0">
        <div class="text-center">
            <h1>Administrator</h1>
        </div>
    </div>


    <div class="row">

        <div class="col-md-4 col-md-offset-4">

            <div class="list-group text-center">
                <h4 class="list-group-item active">
                   Menu
                </h4>
                <a href="/upload" class="list-group-item">Upload exported Access database & Invitation Zip Folder</a>
                <a href="/registration" class="list-group-item">Swimmer Heat Registration</a>
                <a href="/galas" class="list-group-item">Galas</a>
            </div>

        </div>


    </div>


</div>

{% endblock %}